<!DOCTYPE suite >
<suite name="SimpleAPITestSuite" verbose="1">
    <test name="APITests">
        <classes>
            <class name="com.qa.tests.LibraryAPITest">
                <methods>
                    <!-- Specify the test method name you want to run -->
                    <include name="TC001_getBookByAuthorName_positiveScenario"/>
                    <include name="TC002_getBookByAuthorName_NegativeScenario"/>
                    <include  name="TC003_addBook_Scenario"/>
                    <include name="TC004_deleteBook_Scenario" />
                    
                </methods>
            </class>
        </classes>
    </test>
</suite>
